<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>



</head>


<title>NILM Deep Learning Model</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container">
<h1 style="text-align:center">NILM DL Prediction </h1>

<style>

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>


<p>
    <div class="w3-panel w3-pale-green">
    <p>The data is taken from a REDD website. The trained deep learning model is made available to predict the energy segegator.
        The model is <b>95%</b>(approx) accurate. Enjoy! <br> <p align="center"> PS: the site is still under construction.</p>
    </p>

    </div>

    <h1 style="text-align:center;">
      <a href="https://github.com/iml-v/NILM-btp"> Github Code Repository </a>
    </h1>

</p>

<body>



<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<div class="login">



<p align="center"><b>Instruction </b>: fill the form to predict which appliance is running on mains power.</p>


    <form action="/result" method="POST">
    <label for="mains_1">Mains 1 (in Watts)</label>
    <input type="text" id="mains_1" name="mains_1" placeholder=" Mains_1" required="required" />


    <label for="mains_2">Mains 2 (Watts)</label>
    <input type="text" id="mains_2" name="mains_2" placeholder=" Mains_2" required="required" />

    <div class="login">

    <input type="submit" class="btn btn-primary btn-block btn-large" value="Predict Appliance" >

    </div>


    </form>


    </div>

    </div>

</body>
</html>
